# Dependências do Node.js e Python
node_modules/
backend/.venv/
__pycache__/
*.pyc

# Variáveis de ambiente
.env
backend/.env

# Pastas de build do PyInstaller e Electron
backend/build/
backend/dist/
dist/

# Arquivos de especificação do PyInstaller
*.spec 
